$var1: #3369f3;
$var2: #ff0000;
$var3: #1e1e1e;
$var4: #999999;

body {
	height: 100vh;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
main {
	height: inherit;
	> div {
		height: inherit;
	}
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 100%;
}

.link-primary {
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
	color: $var1;
	text-decoration: none;
	display: inline-block;
}
.link-secondary {
	color: $var2;
}

.form-input_wrapper input {
	border: none;
	border-bottom: 1px solid $var1;
	outline: none;
	padding: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	font-style: normal;
	color: $var3;
}
.form-input_placeholder {
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 9px;
	color: $var4;
}
.form .form-input_wrapper,
.modal .form-input_wrapper {
	margin-bottom: 16px;
	input {
		height: 30px;
	}
}
.form-input_wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
	.input-error {
		border-color: red;
	}
}
