$var1: #1e1e1e;

.error-wrapper {
	text-align: center;
}

.error-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: $var1;
}

.error-desc {
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: $var1;
	margin-bottom: 55px;
}
