body {
	height: 100vh;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	height: inherit;
}
main > div {
	height: inherit;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 100%;
}

.link-primary {
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
	color: #3369f3;
	text-decoration: none;
	display: inline-block;
}

.link-secondary {
	color: #ff0000;
}

.form-input_wrapper input {
	border: none;
	border-bottom: 1px solid #3369f3;
	outline: none;
	padding: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	font-style: normal;
	color: #1e1e1e;
}

.form-input_placeholder {
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 9px;
	color: #999999;
}

.form .form-input_wrapper,
.modal .form-input_wrapper {
	margin-bottom: 16px;
}
.form .form-input_wrapper input,
.modal .form-input_wrapper input {
	height: 30px;
}

.form-input_wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.form-input_wrapper .input-error {
	border-color: red;
}

.form {
	background: #ffffff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
	width: 100%;
	max-width: 340px;
	padding: 50px 30px 30px;
	box-sizing: border-box;
	min-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-title {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #1e1e1e;
	margin-top: 0;
	margin-bottom: 40px;
}
.form-buttons_wrapper {
	text-align: center;
	margin-top: 30px;
}
.form-buttons_wrapper a {
	margin-top: 14px;
}

.profile-wrapper {
	display: flex;
	height: inherit;
	width: 100%;
}

.profile-inner_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 510px;
	width: 100%;
}
.profile-inner_wrapper ul {
	margin: 60px 0;
	width: inherit;
}
.profile-inner_wrapper ul li {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	color: #999999;
}
.profile-inner_wrapper ul li:first-child {
	padding-top: 0;
}
.profile-inner_wrapper ul li:not(:last-child) {
	border-bottom: 1px solid #eaeaea;
}
.profile-inner_wrapper ul li span:not(:last-child) {
	color: #1e1e1e;
}
.profile-inner_wrapper ul li span {
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	color: inherit;
}
.profile-inner_wrapper ul li input {
	border: none;
	padding: 0;
	outline: none;
	color: inherit;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	text-align: right;
}
.profile-inner_wrapper ul li input::-webkit-input-placeholder {
	color: inherit;
}
.profile-inner_wrapper form {
	text-align: center;
	width: inherit;
}
.profile-inner_wrapper .profile-links {
	margin: 0;
}

.profile-name {
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #1e1e1e;
	margin: 0;
}

.profile-image {
	background: #efefef;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-bottom: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-image:hover {
	background: #000000;
	opacity: 0.5;
}
.profile-image:hover span {
	visibility: inherit;
}
.profile-image span {
	font-weight: 500;
	font-size: 13px;
	line-height: 14px;
	color: #ffffff;
	padding: 0 15px;
	text-align: center;
	visibility: hidden;
}
.profile-image input {
	display: none;
}
.profile-image_input {
	align-items: center;
}
.profile-image_input label {
	cursor: pointer;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #3369f3;
	max-width: 122px;
	text-align: center;
	margin-bottom: 45px;
	min-height: 32px;
}
.profile-image_input input {
	visibility: hidden;
	height: 0;
}
.profile-image_hint {
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	color: #ff2f2f;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	display: none;
}

.button-back_wrapper {
	background: #fbfbfb;
	width: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-back_wrapper svg {
	transform: rotate(180deg);
}

.show-hint {
	display: inline-block;
}

.chat-page_wrapper {
	display: flex;
	height: inherit;
}

.sidebar_wrapper {
	background: #fbfbfb;
	max-width: 310px;
	width: 100%;
	padding: 20px 10px 0;
	box-sizing: border-box;
	text-align: right;
	border-right: 1px solid #eaeaea;
	margin-top: -5px;
}

.chat-dialog {
	flex-grow: 1;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.chat-dialog_empty {
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #999999;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat-dialog_header nav {
	color: #1e1e1e;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
}
.chat-dialog_header-link {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	position: relative;
}
.chat-dialog_header-image {
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #efefef;
}
.chat-dialog_header-name {
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	color: #1e1e1e;
	margin-left: 10px;
}
.chat-dialog_header-dots {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.chat-dialog_header-dots i {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #1e1e1e;
	display: block;
}
.chat-dialog_header-dots i:not(:last-child) {
	margin-bottom: 3px;
}
.chat-dialog_header-dots-block {
	position: absolute;
	right: 10px;
	top: 65px;
	width: 210px;
	visibility: hidden;
}
.chat-dialog_messages {
	flex-grow: 1;
}
.chat-dialog_messages-time {
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	margin: 48px 0 30px;
}
.chat-dialog_message-item {
	padding: 11px;
	max-width: 402px;
	min-width: 114px;
	width: max-content;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #1e1e1e;
	white-space: pre-line;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.chat-dialog_message-item-from {
	background: #f8f8f8;
	border-radius: 0 12px 12px;
}
.chat-dialog_message-item-to {
	background: #e4edfd;
	margin-left: auto;
	border-radius: 12px 12px 0;
}
.chat-dialog_message-item-time {
	font-weight: 500;
	font-size: 9px;
	line-height: 9px;
	color: #999999;
	position: absolute;
	right: 11px;
	bottom: 11px;
}
.chat-dialog_message-item-time-to {
	color: #3369f3;
	display: flex;
	align-items: flex-end;
}
.chat-dialog_message-item-time-to svg {
	margin-right: 4px;
}
.chat-dialog_message-item-image {
	max-width: 316px;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
.chat-dialog_message-item-image span {
	background: rgba(82, 82, 82, 0.5);
	border-radius: 30px;
	color: #ffffff;
	padding: 2px 7px;
}
.chat-dialog_message-item-image img {
	width: inherit;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	border-radius: 12px;
}
.chat-dialog_footer {
	display: flex;
	align-items: center;
}
.chat-dialog_footer-field {
	background: #efefef;
	border-radius: 30px;
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	padding: 10px 20px;
	height: 32px;
	box-sizing: border-box;
	margin: 0 10px;
}
.chat-dialog_footer-field::placeholder {
	color: #999999;
}
.chat-dialog_footer-attach {
	transform: rotate(45deg);
	cursor: pointer;
}
.chat-dialog_footer-attach svg {
	fill: #999999;
}
.chat-dialog_footer-attach-block {
	width: 162px;
	height: 128px;
	margin-bottom: 10px;
	visibility: hidden;
}

.sidebar-search {
	margin-bottom: 14px;
}
.sidebar-search input {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #efefef;
	border-radius: 5px;
	height: 32px;
}
.sidebar-search input::-webkit-input-placeholder {
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #999999;
	text-align: center;
}

.sidebar-link {
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #999999;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 23px;
	margin-right: 5px;
	display: inline-block;
}
.sidebar-link:after {
	content: '';
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	display: inline-block;
	width: 4px;
	height: 4px;
	transform: rotate(135deg);
	position: relative;
	top: -2px;
	left: 5px;
}

.sidebar-chat {
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
	cursor: pointer;
}
.sidebar-chat:last-child {
	border-bottom: 1px solid #eaeaea;
}
.sidebar-chat_image {
	background: #efefef;
	max-width: 47px;
	width: 100%;
	height: 47px;
	border-radius: 50%;
}
.sidebar-chat_text {
	flex-grow: 1;
	text-align: left;
	padding: 0 10px;
}
.sidebar-chat_text h4 {
	margin: 0;
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	color: #1e1e1e;
}
.sidebar-chat_text p {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #999999;
	margin: 4px 0 0;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
.sidebar-chat_text p b {
	color: #1e1e1e;
}
.sidebar-chat_data-time {
	font-weight: 500;
	font-size: 9px;
	line-height: 13px;
	color: #999999;
	white-space: pre;
	vertical-align: top;
}
.sidebar-chat_data-messages {
	background: #3369f3;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-weight: 500;
	font-size: 11px;
	line-height: 12px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 14px auto 0;
}
.sidebar-chat_is-active {
	position: relative;
}
.sidebar-chat_is-active > * {
	z-index: 2;
}
.sidebar-chat_is-active:after {
	content: '';
	background: #e4edfd;
	position: absolute;
	width: calc(100% + 20px);
	height: calc(100% - 4px);
	z-index: 1;
	top: 2px;
	left: -10px;
}

.popper {
	background: #ffffff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
}
.popper svg {
	fill: #3369f3;
	height: 22px;
	width: 22px;
}
.popper li span {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #1e1e1e;
	vertical-align: text-top;
	padding-left: 7px;
}
.popper li {
	margin: 15px;
	cursor: pointer;
}

.attach_is-open {
	visibility: visible;
}
.attach_is-open svg {
	fill: #3369f3;
}
.attach_is-open i {
	background: #3369f3;
}

.error-wrapper {
	text-align: center;
}

.error-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #1e1e1e;
}

.error-desc {
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #1e1e1e;
	margin-bottom: 55px;
}

.button-primary {
	background: #3369f3;
	border-radius: 8px;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: #ffffff;
	width: 100%;
	padding: 12px 0;
	max-width: 280px;
}

.button-circle {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
}

.modal-backdrop {
	position: fixed;
	background: #000000;
	opacity: 0.4;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.modal {
	background: #ffffff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
	width: 340px;
	text-align: center;
	padding: 40px 30px;
	box-sizing: border-box;
	position: relative;
}
.modal-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
}

.is-open-modal {
	display: flex;
}

/*# sourceMappingURL=styles.css.map */
