<div class="container">
      <div class="error-wrapper">
        <h1 class="error-title">{{title}}</h1>
        <p class="error-desc">{{desc}}</p>
        <a href="{{link.href}}" class="link-primary">
            {{link.text}}
        </a>
      </div>
</div>
